
.loginBox {
  padding-top: 4rem;
  position: relative;
  z-index: 1;
  width: 90vw;
  border-radius: 0.3rem;
  background-color: white;
  max-width: 1300px;
  height: 100vh;
  max-height: 600px;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.15);
  display: flex;
}
.loginRight {
  transition: all 0.3s ease-in-out;
  flex-basis: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 1rem;
}
.loginLeft {
  transition: all 0.3s ease-in-out;
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-basis: 0%;
  overflow: hidden;
}

.loginImage {
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  filter: blur(0.2rem);
}

.loginText {
  transition: all 0.1s ease-in-out;
  opacity: 0;
  margin-top: 20%;
  max-width: 600px;
}
.loginText h1 {
  word-spacing: 1rem;
  font-size: 3.5rem;
}
.loginText p {
  margin-top: 1rem;
  line-height: 1.5rem;
}
.loginForm {
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.loginForm h2 {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}

@media screen and (min-width: 600px) {
  .loginBox {
    padding-top: 0;
  }
  .loginLeft {
    flex-basis: 65%;
    padding: 2rem;
  }
  .loginRight {
    align-items: center;
    color: var(--text-color-dark);
    flex-basis: 35%;
  }
  .loginImage {
    filter: blur(0rem);
    width: 65%;
  }
  .loginText {
    opacity: 1;
  }
  .loginForm h2,.loginForm input{
    color: var(--text-color-dark);
  }
}
